﻿@using TestTask.Models

<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Login">Sign In <i class="fas fa-sign-in-alt"></i></a></li>
    <li class="active nav-item"><a class="nav-link" asp-controller="User" asp-action="Register">Register <i class="fas fa-user-plus"></i></a></li>
</ul>